form{
    width: 700px;
    display: flex;
    
}

Button{
    background-color: green;
}
.cart-icon{
    padding-left: 20px;
    color: white;
}

.container-fluid{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* background-color: aqua; */
    /* background-color: black; */
    /* flex-direction: row; */
}
.navbar-brand{
    color: aliceblue;
}
