form{
    width: 300px;
    position: absolute;
    display: flex;
    right: 10px;
    
}

Button{
    background-color: green;
}


.nav-container{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* background-color: aqua; */
    /* background-color: black; */
    /* flex-direction: row; */

    font-weight: bold;
    
}
.navbar{
    margin-right: 10px;
    margin-left: 10px;
}
.navbar-brand{
    color: aliceblue;
}
